<div class="page page-table" data-ng-controller="benefactorsCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active">DAC <a href="#/benefactors/"><span data-translate="Benefactors"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="panel panel-default">
		<div class="panel-heading"><span data-translate="Current benefactors"></span> </div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for current benefactors" ng-model="search">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("name")' ng-class='sortClass("name")'><span data-translate="Name"></span></th>
                        <th ng-click='sortColumn("benefactor_name")' ng-class='sortClass("benefactor_name")'><span data-translate="Benefactor"></span></th>
                        <th ng-click='sortColumn("start")' ng-class='sortClass("start")'><span data-translate="Start"></span></th>
                        <th ng-click='sortColumn("end")' ng-class='sortClass("end")'><span data-translate="End"></span></th>
                        <th ng-click='sortColumn("daily_pay")' ng-class='sortClass("daily_pay")'><span data-translate="Daily pay"></span>(DXP)</th>
						<th>Url</th>
						<th class="align-right" ng-click='sortColumn("votes_for")' ng-class='sortClass("votes_for")'><span data-translate="Votes for"></span></th>
                        <th ng-click='sortColumn("perc")' ng-class='sortClass("perc")'><span data-translate="Funded"></span></th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="w in benefactors_current | orderBy:column:reverse | filter:search" class="{{w.tclass}}">
                    <td><a href='#/objects/{{w.id}}/'>{{w.name}}</a> <span class='label label-info'>{{w.voting_now}}</span></td>
                    <td><a href='#/accounts/{{w.benefactor}}/'>{{w.benefactor_name}}</a></td>
                    <td>{{w.start}}</td>
                    <td>{{w.end}}</td>
                    <td class="align-right">{{w.daily_pay | number}}</td>
					<td>
                        <div ng-if="w.have_url == 1">
                            <a href="{{w.url}}" target="_blank">Link</a>
                        </div>
                        <div ng-if="w.have_url == 0">
                            No Link
                        </div>
                    </td>
					<td class="align-right">{{w.votes_for | number: 0}}</td>
                    <td>{{w.perc}}%</td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span data-translate="Expired benefactors"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for expired benefactors" ng-model="search2">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th ng-click='sortColumn2("name")' ng-class='sortClass2("name")'><span data-translate="Name"></span></th>
                    <th ng-click='sortColumn2("benefactor")' ng-class='sortClass2("benefactor_name")'><span data-translate="benefactor"></span></th>
                    <th ng-click='sortColumn2("start")' ng-class='sortClass2("start")'><span data-translate="Start"></span></th>
                    <th ng-click='sortColumn2("end")' ng-class='sortClass2("end")'><span data-translate="End"></span></th>
                    <th class="align-right" ng-click='sortColumn2("daily_pay")' ng-class='sortClass2("daily_pay")'><span data-translate="Daily pay"></span>(DXP)</th>
                    <th>Url</th>
                    <th class="align-right" ng-click='sortColumn2("votes_for")' ng-class='sortClass2("votes_for")'><span data-translate="Votes for"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="w in benefactors_expired | orderBy:column2:reverse2 | filter:search2" class="{{w.tclass}}">
                    <td><a href='#/objects/{{w.id}}/'>{{w.name}}</a></td>
                    <td><a href='#/accounts/{{w.benefactor}}/'>{{w.benefactor_name}}</a></td>
                    <td>{{w.start}}</td>
                    <td>{{w.end}}</td>
                    <td class="align-right">{{w.daily_pay | number}}</td>
                    <td>
                        <div ng-if="w.have_url == 1">
                            <a href="{{w.url}}" target="_blank">Link</a>
                        </div>
                        <div ng-if="w.have_url == 0">
                            No Link
                        </div>
                    </td>
                    <td class="align-right">{{w.votes_for | number: 0}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
