<div class="page page-table" data-ng-controller="accountsCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active"><a href="#/accounts/"><span data-translate="Accounts"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="panel panel-default" >
		<div class="panel-heading" ><span data-translate="Rich list"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for account" ng-model="search">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("name")' ng-class='sortClass("name")'><span data-translate="Name"></span></th>
                        <th class="align-right" ng-click='sortColumn("amount")' ng-class='sortClass("amount")'><span data-translate="Amount"></span></th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="rich in richs | orderBy:column:reverse | filter:search">
                    <td><a href='#/accounts/{{rich.id}}/'>{{rich.name}}</a></td>
                    <td class="align-right">{{rich.amount | number: 0}} <a href='#/assets/1.3.0/'>DXP</a></td>
                </tbody>
            </table>
        </div>
    </div>

</div>
