<!-- <header class="top-header clearfix" data-ng-controller="headerCtrl"> -->

<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Dxperts Blockchain Explorer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/dashboard"><span data-translate="Dashboard"></span></a></li>
                <li><a href="#/search"><span data-translate="Search"></span></a></li>
                <li><a href="#/txs"><span data-translate="Transactions"></span></a></li>
                <li><a href="#/assets"><span data-translate="Tokens"></span></a></li>
                <li><a href="#/markets"><span data-translate="Markets"></span></a></li>
                <li><a href="#/accounts"><span data-translate="Accounts"></span></a></li>
                <li><a href="#/fees"><span data-translate="Fees"></span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-translate="Governance"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/dxpcore_members"><span data-translate="DXP Core"></span></a></li>
                        <li><a href="#/blockproducer"><span data-translate="Block Producers"></span></a></li>
                        <li><a href="#/benefactors"><span data-translate="Benefactors"></span></a></li>
                        <li><a href="#/votes"><span data-translate="Voting"></span></a></li>
                        <li><a href="#/proxies"><span data-translate="Proxies"></span></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown langs text-normal" uib-dropdown is-open="status.isopenLang" data-ng-controller="LangCtrl">
                    <a href="javascript:;" class="active-flag" uib-dropdown-toggle ng-disabled="disabled">
                        <div class="flag {{ getFlag() }}"></div>
                    </a>
                    <ul class="dropdown-menu list-langs pull-right">
                        <li data-ng-show="lang !== 'English' ">
                            <a href="javascript:;" data-ng-click="setLang('English')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-american"></div>
                                    </div>
                                    <div class="col-md-8">
                                        English
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-ng-show="lang !== 'Español' ">
                            <a href="javascript:;" data-ng-click="setLang('Español')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-spain"></div>
                                    </div>
                                    <div class="col-md-8">
                                        Español
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-ng-show="lang !== '中文' ">
                            <a href="javascript:;" data-ng-click="setLang('中文')">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flag flags-china"></div>
                                    </div>
                                    <div class="col-md-4">
                                        中文
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<!-- </header> -->
