<div class="page page-table" data-ng-controller="dxpcoreCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active"><a href="#/dxpcore_members/"><span data-translate="Dxpcore members"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="panel panel-default">
		<div class="panel-heading"><span data-translate="Current active dxpcore members"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for active dxpcore member" ng-model="search">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("counter")' ng-class='sortClass("counter")'><span data-translate="Position"></span></th>
                        <th ng-click='sortColumn("id")' ng-class='sortClass("id")'>ID</th>
                        <th ng-click='sortColumn("dxpcore_member_account_name")' ng-class='sortClass("dxpcore_member_account_name")'><span data-translate="Account"></span></th>
                        <th>Url</th>
						<th class="align-right" ng-click='sortColumn("total_votes")' ng-class='sortClass("total_votes")'><span data-translate="Total votes"></span></th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="ac in active_dxpcore | orderBy:column:reverse | filter:search">
                    <td>{{ac.counter}}</td>
                    <td><a href="#/objects/{{ac.id}}/">{{ac.id}}</a></td>
                    <td><a href="#/accounts/{{ac.dxpcore_member_account}}/">{{ac.dxpcore_member_account_name}}</a></td>
                    <td><a href="{{ac.url}}" target="_blank">Link</a></td>
					<td class="align-right">{{ac.total_votes | number: 0}}</td>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><span data-translate="Standby dxpcore members"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for standby dxpcore member" ng-model="search2">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th ng-click='sortColumn2("counter")' ng-class='sortClass2("counter")'><span data-translate="Position"></span></th>
                    <th ng-click='sortColumn2("id")' ng-class='sortClass2("id")'>ID</th>
                    <th ng-click='sortColumn2("dxpcore_member_account_name")' ng-class='sortClass2("dxpcore_member_account_name")'><span data-translate="Account"></span></th>
                    <th>Url</th>
                    <th class="align-right" ng-click='sortColumn2("total_votes")' ng-class='sortClass2("total_votes")'><span data-translate="Total votes"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="sc in standby_dxpcore | orderBy:column2:reverse2 | filter:search2">
                    <td>{{sc.counter}}</td>
                    <td><a href="#/objects/{{sc.id}}/">{{sc.id}}</a></td>
                    <td><a href="#/accounts/{{sc.dxpcore_member_account}}/">{{sc.dxpcore_member_account_name}}</a></td>
                    <td><a href="{{sc.url}}" target="_blank">Link</a></td>
                    <td class="align-right">{{sc.total_votes | number: 0}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
