<div class="page page-table" data-ng-controller="blockproducersCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li class="active"><a href="#/blockproducer/"><span data-translate="Blockproducers"></span></a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="panel panel-default">
		<div class="panel-heading"><span data-translate="Active blockproducers"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for active blockproducer" ng-model="search">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click='sortColumn("counter")' ng-class='sortClass("counter")'><span data-translate="Position"></span></th>
                        <th ng-click='sortColumn("id")' ng-class='sortClass("id")'>ID</th>
                        <th ng-click='sortColumn("blockproducer_account")' ng-class='sortClass("blockproducer_account")'><span data-translate="Account"></span></th>
                        <th>Url</th>
						<th class="align-right" ng-click='sortColumn("total_votes")' ng-class='sortClass("total_votes")'><span data-translate="Total votes"></span>s</th>
						<th class="align-right" ng-click='sortColumn("total_missed")' ng-class='sortClass("total_missed")'><span data-translate="Missed"></span></th>
                        <th class="align-right" ng-click='sortColumn("last_confirmed_block_num")' ng-class='sortClass("last_confirmed_block_num")'><span data-translate="Last confirmed block"></span></th>
                    </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="w in active_blockproducers | orderBy:column:reverse | filter:search">
                    <td>{{w.counter}}</td>
                    <td><a href="#/objects/{{w.id}}/">{{w.id}}</a></td>
                    <td><a href="#/accounts/{{w.blockproducer_account}}/">{{w.blockproducer_account_name}}</a></td>
                    <td><a href="{{w.url}}" target="_blank">Link</a></td>
					<td class="align-right">{{w.total_votes | number: 0}}</td>
					<td class="align-right">{{w.total_missed | number}}</td>
                    <td class="align-right"><a href="#/blocks/{{w.last_confirmed_block_num}}/">{{w.last_confirmed_block_num | number}}</a></td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span data-translate="Standby blockproducers"></span></div>
        <div class="panel-body table-responsive">
            <form>
                <div class="col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for standby blockproducer" ng-model="search2">
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th ng-click='sortColumn2("counter")' ng-class='sortClass2("counter")'><span data-translate="Position"></span></th>
                    <th ng-click='sortColumn2("id")' ng-class='sortClass2("id")'>ID</th>
                    <th ng-click='sortColumn2("blockproducer_account")' ng-class='sortClass2("blockproducer_account")'><span data-translate="Account"></span></th>
                    <th>Url</th>
                    <th class="align-right" ng-click='sortColumn2("total_votes")' ng-class='sortClass2("total_votes")'><span data-translate="Total votes"></span></th>
                    <th class="align-right" ng-click='sortColumn2("total_missed")' ng-class='sortClass2("total_missed")'><span data-translate="Missed"></span></th>
                    <th class="align-right" ng-click='sortColumn2("last_confirmed_block_num")' ng-class='sortClass2("last_confirmed_block_num")'><span data-translate="Last confirmed block"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="w in standby_blockproducers | orderBy:column2:reverse2 | filter:search2">
                    <td>{{w.counter}}</td>
                    <td><a href="#/objects/{{w.id}}/">{{w.id}}</a></td>
                    <td><a href="#/accounts/{{w.blockproducer_account}}/">{{w.blockproducer_account_name}}</a></td>
                    <td><a href="{{w.url}}" target="_blank">Link</a></td>
                    <td class="align-right">{{w.total_votes | number: 0}}</td>
                    <td class="align-right">{{w.total_missed | number}}</td>
                    <td class="align-right"><a href="#/blocks/{{w.last_confirmed_block_num}}/">{{w.last_confirmed_block_num | number}}</a></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
